@font-face {
    font-family: 'Dense';
    src: url('../font/Dense-Regular.otf');
}

.roTitre{
    -fx-font-size: 50pt;
    -fx-font-family: "Dense";
    -fx-font-weight: bolder;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}